<app-header></app-header>
<main>
  <section class="main-section">
    <div class="headline">
      <h1>A consultoria que você buscar para o seu software</h1>
      <span>KIPPER CONSULTORIA</span>
      <img ngSrc="./assets/principal.png" width="669" height="536">
    </div>
  </section>
  <section class="benefit-section">
    <div class="benefit-data">
      <h2>
        95% das<br />
        empresas
      </h2>
      <p>
        não sabem lidar com problemas de <b>escalabilidade</b> e grande volume de requisições
      </p>
    </div>
  </section>
  <section class="cta-section">
    <app-btn-primary
      btnText="Fale com nossos especialistas"></app-btn-primary>
  </section>
  <app-news-form></app-news-form>
</main>
